<head>
    <link rel="stylesheet" href="/css/sobre.css"/>
    <title>Home</title>
</head>

@{
    ViewData["Title"] = "SobreExibirView";
}

<h1>Novidade</h1>
<hr>
<h2>Sabor Extremo</h2>

<section class="sobre">
    <img src="/imagens/cozinheiro.png" alt="cozinheiro">
    <aside>
        <h4>Sobre Nós</h4>
        <p>Somos a ReDelicias! Um time de quatro jovens apaixonados por sabor, que se uniu para transformar a cozinha em pura diversão. Com o nosso lema Red – de Redescobrir, Redefinir e Redistribuir a alegria de cozinhar – queremos que você se inspire, experimente e, claro, se delicie com cada receita. Junte-se a nós nessa aventura gastronômica!</p>
    </aside>
</section>