main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main h3{
    font-size: 80px;
    font-weight: 600;
}

section{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
}

.adicionar-ingredientes{
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 13, 13);
    padding: 50px;
    justify-content: start;
    border-radius: 25px;
}

.adicionar-ingredientes h2{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
}

.adicionar-ingredientes label{
    font-size: 20px;
    margin-top: 40px;
}

.adicionar-ingredientes input{
    width: 300px;
    height: 40px;
    margin-top: 20px;
    font-size: 16px;
    text-indent: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid white;
}

.adicionar-ingredientes .descricao {
    width: 300px;
    margin-top: 30px;
}

.adicionar-ingredientes .botao{
    width: 300px;
    height: 45px;
    margin-top: 30px;
    background-color: #901919;
    border: none;
}

.exibir-ingredientes{
    display: flex;
    flex-direction: column;
}

.exibir-ingredientes h4{
    margin-bottom: 50px;
}

.lista{
    margin-bottom: 30px;
}

.ingrediente {
    margin-top: 20px;
}
.vermelho {
    background-color: transparent;
    border:none;
}
.salvar {
    margin-top: 30px;
}