main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Inicial {
    display: flex;
    width: 900px;
    background-color: rgb(20, 20, 20);
    height: 400px;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid black;
    z-index: 1;
}

.Inicial .seta {
    background-image: url("/imagens/seta.png");
    background-position: center;
    background-size: cover;
    cursor: pointer;
    background-color: transparent;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    z-index: 2;
}

.esquerda {
    transform: rotateZ(180deg);
}

.container {
    display: flex;
    width: 80%;
    height: 100%;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
}

.container nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
    background-color: transparent;
}

.container nav p {
    cursor: pointer;
    background-color: transparent;
}

.container .imagens {
    display: flex;
    position: relative;
    width: 100%;
    height: 80%;
    margin-top: 20px;
    align-items: center;
    overflow: hidden;
    background-color: rgb(41, 41, 41);
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: inset 0px 0px 100px rgb(15, 15, 15);
}

.navegacao {
    position: absolute;
    display: flex;
    gap: 100px;
    transition: 1s;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 250px;
    height: 250px;
    cursor: pointer;
    background-color: black;
    border-radius: 125px;
}

.card p {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}

h2 {
    font-size: 18px;
    margin: 20px 0 5px;
    font-weight: bold;
}

.meio {
    margin-top: 150px;
    width: 100vw;
    padding: 100px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    background-image: radial-gradient(#353535, #000);
    box-shadow: 0px -30px 30px #353535;
}

.meio h3 {
    font-size: 36pt;
    font-weight: 600;
}

.box-opcoes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 300px;
    margin-top: 50px;
    gap: 160px;
    align-items: center;
    margin-right: 15px;
    transition: all 0.4s;
}

.img-opcoes {
    width: 220px;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.4s;
}

.img-opcoes:hover {
    transform: translatey(-10px);
    transition: all 0.4s;
}

.box {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 230px;
    gap: 20px;
}

.titulo-img {
    margin-top: 30px;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.4s;
}

.titulo-img:hover {
    opacity: 0.6;
    transition: all 0.4s;
}


.subtitulo {
    font-size: 20px;
    font-weight: 400;
}

.tudo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.content {
    display: flex;
    background-color: rgb(13, 13, 13);
    margin-top: 0px;
    border-radius: 30px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    width: 60vw;
    height: 500px;
}

.title-sec2 {
    font-size: 30pt;
    margin-top: 20px;
}

.right {
    width: 50%;
    height: 100%;
    background-color: wheat;
}

.left {
    width: 50%;
    margin-left: 5%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.left p {
    color: white;
    font-size: 18px;
}

label {
    margin-top: 10px;
    font-size: 14px;
    margin-bottom: 8px;
    display: block;
    color: rgb(255, 255, 255);
}

.input-area {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
}
.destaque{
    font-size:30px;

}
.input-area input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
    color: black;
}

.input-area button {
    background-color: #901919;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-btn {
    width: 150px;
    padding: 12px;
    border: none;
    color: white;
    font-weight: 600;
    border-radius: 6px;
    background-color: #901919;
}

#title-receitas {
    font-size: 40pt;
}

#receitas {
    width: 90vw;
    padding: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.box-receitas {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.img-receitas {
    width: 450px;
    height: 250px;
    background-color: black;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.4s;
}

.img-receitas:hover {
    transform: scale(1.1);
    transition: all 0.4s;
}

.bloco {
    display: flex;
    width: 450px;
    height: 400px;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bloco p {
    font-size: 26px;
    margin-top: 15px;
}

.btn-ver {
    display: flex;
    width: 200px;
    height: 50px;
    font-size: 18px;
    margin-top: 15px;
    border-radius: 5px;
    border: none;
    background-color: rgb(141, 27, 27);
    font-weight: 600;
    color: white;
    transition: all 0.4s;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.btn-ver:hover {
    opacity: 0.8;
}

@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .right img {
        width: 100%;
        height: auto;
    }
}

.filtrar {
    width: 400px;
    height: 200px;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    border-radius: 25px;
    margin-top: 50px;
    background-color: rgb(13, 13, 13);
}

.filtrar form{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.selecao{
    background-color: transparent;
    height: 30px;
    margin-top: 20px;
    outline: none;
    width: 200px;
    margin-bottom: 20px;
}

.selecao option{
    background-color: #1d1c1c;
}