main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    justify-content: center;
}

section {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 70%;
}

section .dados {
    display: flex;
    flex-direction: column;
}

section .dados h4 {
    font-size: 16px;
    margin-top: 50px;
}

.avaliacao {
    display: flex;
    margin-top: 200px;
    width: 250px;
    height: 40px;
    border: 2px solid black;
    position: absolute;
}

.porcentagem {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


    section .dados p {
        margin-left: 0px;
    }

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card img {
    width: 250px;
    height: 250px;
    cursor: pointer;
    background-color: black;
    border-radius: 125px;
}

.card p {
    margin-top: 20px;
    text-align: center;
}

section p {
    width: 350px;
    font-size: 20px;
    margin-left: 100px;
}

.parte2 {
    width: 100%;
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.botoes {
    width: 600px;
    height: 600px;
    background-image: url("/img/fundo.png");
    background-position: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.botoes button {
    top: 350px;
    left: 100px;
    position: relative;
    width: 200px;
    height: 50px;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 20px;
    color: white;
    font-size: 20px;
    background-color: #252525;
    cursor: pointer;
    transition: 0.4s;
}

.nova-avaliacao {
    width: 200px;
    height: 50px;
    position: absolute;
    border: 2px solid black;
    border-radius: 25px;
    margin-top: 20px;
    color: #252525;
    font-size: 20px;
    background-color: white;
    cursor: pointer;
    bottom: -300px;
    right: 100px;
    transition: 0.4s;
}

.nova-avaliacao:hover {
    background-color: #252525;
    color: white;
    border: 2px solid white;
}

button:hover {
    background-color: white;
    color: #252525;
}

.descri{
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.descri h5{
    font-size: 20px;
    font-weight: 600;
}

.descri p{
    width: 100%;
    height: 200px;
    margin-top: 30px;
    text-align: start;
    text-indent: 12px;
    margin: 0px;
    margin-top: 30px;
    background-color: rgb(13, 13, 13);
    border-radius: 20px;
    padding: 20px;
}

.superior{
    display: flex;
    width: 80vw;
    justify-content: space-around;
}

.card p{
    margin: 0;
    margin-top: 20px;
}

.infos-receita {
    margin-top: 100px;
    display: flex;
}

.ingredientes h4, .modo-preparo h4{
    margin-bottom: 30px;
}

.comentarios{
    margin-top: 100px;
    flex-direction: column;
    align-items: start;
}

.comentarios h3{
    text-align: start;
}

.comentarios p{
    margin: 0px;
}

.alertar{
    margin-top: 20px;
    margin-bottom: 20px;
}

.comentar {
    width: 400px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: rgb(13, 13, 13);
    border-radius: 25px;
    margin: auto;
}

.comentar h3{
    font-size: 30px;
}

.comentar textarea{
    outline: none;
    width: 100%;
    border: none;
    border-bottom: 2px solid white;
    background-color: #1d1c1c;
    text-indent: 10px;
    margin-top: 20px; 
    color: white;
    border: none;
}

.comentar label{
    font-size: 20px;
    margin-top: 40px; 
}

.comentar select{
    background-color: #1d1c1c;
    height: 40px;
    margin-top: 20px;
}

.comentar button{
    background-color: #901919;
    height: 50px;
    font-size: 20px;
    border: none;
    margin-bottom: 10px;
    margin-top: 40px;
    transition: .4s;
}

.comentar button:hover{
    opacity: 0.6;
}

.exibir-comentarios {
    margin-top: 50px;
    justify-content: normal;
    width: 80vw;
    gap: 100px;
    flex-wrap: wrap;
}

.comentario {
    background-color: rgb(13, 13, 13);
    border-radius: 15px;
    padding: 50px;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.comentario h6{
    font-size: 20px;
    margin-top: 10px;
}

.comentario small{
    margin-top: 20px;
}

.comentario p{
    margin-top: 40px;
}
.vermelho {
    background-color: transparent;
    border: none;
}
